.cart-container{
    width: 45rem;
    background-color: white;
    margin: 1rem auto;
    border-radius: 0.5rem;
    display: flex;
}
.cart-product-image{
    padding: 2rem;
}
.cart-product-image img{
    width: 6rem;
    object-fit: contain;
}
.cart-product-info{
    padding: 1rem;
}
.cart-product-info>*{
    margin-bottom: 1rem;
}
.cart-product-info>.cart-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.cart-product-info>.cart-quantity{
    font-size: 1.3rem;
}
.cart-product-info>.cart-price{
    font-size: 1.3rem;
    font-weight: bold;
}

.cart-product-info .remove-btn{
    background-color: rgba(255, 0, 0, 0.8);
    border: none;
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .3s ease;
}
.cart-product-info>p>i{
    cursor: pointer;
}
.cart-product-info button:hover{
    background-color: red;
}
.no-items-cart-div{
    text-align: center;
}
.browse-products-btn{
    margin-top: 2rem;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.browse-products-btn:hover{
    background-color: red;
    transition: .5s;
}
.cart-quantity{
    display: flex;
}
.cart-quantity span{
    margin: 0 0.3rem;
}
.cart-quantity button{
    border: none;
    cursor: pointer;
}
.cart-quantity button i{
    font-size: 1.5rem;
}
.cart-quantity button:hover{
    background-color: white;
}
.cart-checkout-div{
    text-align: center;
}
.cart-checkout-div button{
    font-size: 1.5rem;
    padding: 0.8rem 5rem;
    border-radius: 0.5rem;
    border: none;
    margin: 1rem 0;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.pop-up-div{
    background-color: white;
    box-shadow: 0 0 1rem black;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
    width: 20rem;
    position: absolute;
    top:40%;
    left:40%;
}
.pop-up-div h3{
    margin-bottom: 1rem
}
.pop-up-div button{
    margin: 0 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    cursor: pointer;
}
.pop-up-div .confirm-btn{
    background-color: red;
}
.pop-up-div .cancel-btn{
    background-color: green;
}

@media screen and (max-width:768px){
    .cart-container{
        width: 30rem;
    }  
    .cart-product-info>.cart-title{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .cart-product-info>.cart-price{
        font-size: 1.2rem;
        font-weight: bold;
    } 
    .cart-checkout-div button{
        font-size: 1.3rem;
        padding: 0.8rem 3rem;
    }
    .pop-up-div{
        top:40%;
        left:25%;
    }
    
}

@media screen and (max-width:520px){
    .cart-container{
        width: 25rem;
    }  
    .cart-product-info>.cart-title{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .cart-product-info>.cart-price{
        font-size: 1rem;
        font-weight: bold;
    }
    .cart-checkout-div button{
        font-size: 1.2rem;
        padding: 0.6rem 2.5rem;
    } 
    .cart-product-info .remove-btn{
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }
    .pop-up-div{
        top:35%;
        left:15%;
    }
}

@media screen and (max-width:450px){
    .cart-container{
        width: 18rem;
    }  
    .cart-checkout-div button{
        font-size: 1.2rem;
        padding: 0.6rem 2rem;
    } 
    .cart-product-image img{
        width: 4rem;
    }
    .cart-total-price{
        font-size: 1rem;
    }
    .cart-product-info .remove-btn{
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    .pop-up-div{
        width: 12rem;
        top:35%;
        left:14%;
    }
    .pop-up-div h3{
        font-size: 1rem;
    }
    .pop-up-div button{
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}