.product-container{
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    width: 35rem;
    text-align: left;
    border-radius: 0.5rem;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-image{
    text-align: center;
}
.product-image img{
    width: 15rem;
    object-fit: contain;
}
.product-details-info{
    padding: 0.5rem 1rem;
}
.product-details-info > *{
    margin-bottom: 1rem;
}
.product-details-info .product-category{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}
.product-details-info .product-title{
    font-size: 1.8rem;
}
.product-details-info .product-description{
    font-size: 1.3rem;
}
.product-details-info .product-price{
    font-size: 1.6rem;
    font-weight: bold;
    color: green;
}
.product-details-info .product-rating{
    font-size: 1.4rem;
}
.product-details-info .fa-star{
    color: orange;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.btn-container>button{
    flex: 1;
    margin: 1rem;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
}
.fa-cart-plus{
    font-size: 1.3rem;
}
.btn-container .add-cart{
    background-color: orangered;
}
.btn-container .go-cart{
    background-color: orange;
}
a{
    text-decoration: none;
}

@media screen and (max-width:650px) {
    .product-container{
        width: 85vw;
        min-height: 60vh;
    }   
    .product-image img{
        width: 13rem;
    }
    .product-details-info .product-title{
        font-size: 1.7rem;
    }
    .product-details-info .product-description{
        font-size: 1.2rem;
    }
    .product-details-info .product-price{
        font-size: 1.5rem;
        font-weight: bold;
        color: green;
    }
    .product-details-info .product-rating{
        font-size: 1.3rem;
    }
    .btn-container button, .fa-cart-plus{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:375px) {
    .product-container{
        width: 95vw;
        padding: 0.5rem;
    }
    .product-image img{
        width: 12rem;
    }
    .product-details-info .product-title{
        font-size: 1.5rem;
    }
    .product-details-info .product-description{
        font-size: 1rem;
    }
    .product-details-info .product-price{
        font-size: 1.3rem;
        font-weight: bold;
        color: green;
    }
    .product-details-info .product-rating{
        font-size: 1.2rem;
    }
    .btn-container button, .fa-cart-plus{
        font-size: 1rem;
    }
}
